body {
	margin: 20px;
	font-family: 'Zilla Slab', serif;
}

header {
    text-align: center;
    font-style: oblique;
    font-family: 'Zilla Slab', serif;
    font-size: 23px;
    color: #6e008b;
}

#headerContent {
    color: orange;
}

#mentorsMap {
	height: calc(100vh - 40px);
}

.leaflet-popup-content > div {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.leaflet-popup-content span {
	display: block;
}

.leaflet-popup-content .avatar {
	background-image: url(img/icon_48.png);
	background-size: cover;
	height: 32px;
	width: 32px;
}
#searchQuery {
    border: 1px solid #ddd;
    display: block;
    font-size: 16px;
    padding: 12px 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: calc(100% - 80px);
}
#tableHolder{
	height: 500px;
	overflow-y: auto;
}
#tableHolder table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#tableHolder table th, #tableHolder table td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tableHolder table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tableHolder table tr.header, #tableHolder table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
