body {
	margin: 20px;
	font-family: 'Roboto', sans-serif;
	
}

header {
	width: 100%;
    text-align: center;
    background-position: 90% 100%;
    background-repeat: no-repeat;
    height: 300px;
    background-color: #031643;
    
}

.head_main{
    color: white;
    margin-top: -20px;
    width: auto;

}

#headtext{
    margin-top: -30px;


}
#logo {
	height: 100px;
    padding: 15px;
    width: 200px;
    position: relative;

}

#logo img {
	height: 100px;
    display: flex;
    position: relative;
}
#mozhead {
	width: 140px;
    padding: 20px;
    margin-left: 200px;
    margin-top: -150px;
    float: right;
}
#mozhead img{
	height: 50px;
    border-radius: 0px 0px 17px 17px;
}


h1{
	font-family: 'Zilla Slab', serif;
    font-size: 50px;
    margin-top: -22px;
}

h2 p{
    font-family: 'Zilla Slab', serif;
}

#mentorsMap {
	height: calc(100vh - 40px);
}

.leaflet-popup-content {
    align-items: center;
    display: flex;
    margin: 10px;
    max-width: 200px;
}

.leaflet-popup-content span {
	display: block;
}

.leaflet-popup-content .avatar {
	background-image: url(img/icon_48.png);
	background-size: cover;
	height: 64px;
    margin-right: 10px;
	width: 64px;
}
#searchQuery {
    border: 1px solid #ddd;
    display: block;
    font-size: 16px;
    padding: 12px 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: calc(100% - 80px);
}
#tableHolder{
	height: 500px;
	overflow-y: auto;
}
#tableHolder table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#tableHolder table th, #tableHolder table td {
    text-align: left;
    padding: 12px;
}

#tableHolder table tr {
    border-bottom: 1px solid #ddd; 
}

#tableHolder table tr.header, #tableHolder table tr:hover {
    background-color: #f1f1f1;
}

/* mobile first \o/ */
@media screen and (min-width: 376px) {
    .leaflet-popup-content {
        min-width: 350px;
    }
     #headtext {
        width: fit-content;
  }
}

@media (min-width: 740px) {
  #headtext {
       
        width: fit-content;
        margin-top: 30px;
  }

}